

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.info {
    font-size: 150%;
}

.current_teams {
    font-size: 150%;
    background-color: #79858C;
    color: #ffffff;
}










