{% load staticfiles %}
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="{% url 'home' %}#top" onclick=$("#menu-close").click();> Frederikscup</a>
        </li>
        <li>
            <a href="{% url 'home' %}#top" onclick=$("#menu-close").click();>Hjem</a>
        </li>
        {% for status in tournament_status %}
            {% if status.pre_start %}
                <li>
                    <a href="{% url 'results' %}" onclick=$("#menu-close").click();>Oppsett/Resultater</a>
                </li>
            {% endif %}
        {% endfor %}
        <li>
            <a href="{% url 'home' %}#info" onclick=$("#menu-close").click();>Info</a>
        </li>
        {% for status in tournament_status %}
            {% if status.signup %}
                <li>
                    <a href="{% url 'home' %}#registration" onclick=$("#menu-close").click();>Påmelding</a>
                </li>
            {% endif %}
        {% endfor %}
        <li>
            <a href="{% url 'home' %}#contact" onclick=$("#menu-close").click();>Kontakt</a>
        </li>
    </ul>
</nav>